/* Fonts
----------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,100,600);


body{font-family: 'Raleway', sans-serif;}
*:focus{outline: none!important}
#demande-devis span, a{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
a:hover{text-decoration: none;}
img{max-width: 100%}


/*demande-devis*/
#demande-devis li{margin-bottom: 10px;}
#demande-devis span.btn{opacity: 0.6;}
#demande-devis span.btn.disabled{opacity: 0.3;}
#demande-devis span.btn.active{opacity: 1;}
#demande-devis ul label{position: relative;}
#demande-devis ul input[type="radio"]{position: absolute;left: 0;top: 0;opacity: 0;  float: left; margin-right: -10px;}
