/* Fonts
----------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,100,600);


body{font-family: 'Raleway', sans-serif;}
*:focus{outline: none!important}
a{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
a:hover{text-decoration: none;}
img{max-width: 100%}


/*demande-devis*/
#demande-devis li{margin-bottom: 10px;}
#demande-devis label{margin-right: 15px;}
#demande-devis a.btn{opacity: 0.6;}
#demande-devis a.btn.disabled{opacity: 0.3;}
#demande-devis a.btn.active{opacity: 1;}
